
<div class="u-full-width centre video-border">
<br />
<span class="typcn typcn-video-outline"></span><br />
<p><%= video.link_html %>
</p>
<small>
Project: <%= video.project.name %><br />
Thoughts: <%= video.thoughts %>
 <p> 

     <% if policy(video).update? %>
     <%= link_to "Edit", edit_video_path(video.id), class: 'btn btn-success' %>
     <% end %>

/

   <% if policy(video).destroy? %>
   <%= link_to "Delete", video_path(video.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this video?' } %> 
   <% end %>
</p></small>

</div>
