
<div class="four columns">
<div id="player-wrapper"></div>
<h2><%= video.title %><%= video.duration %></h2>

<p><%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
                              class: 'yt_preview img-rounded', :"data-uid" => video.uid %>
</p>
<small>
Project: <%= video.project.name %>
 <p> 

     <% if policy(video).update? %>
     <%= link_to "Edit Video", edit_text_path(text.id), class: 'btn btn-success' %>
     <% end %>



   <% if policy(text).destroy? %>
   <%= link_to "Delete Text", text_path(text.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this text?' } %> 
   <% end %>
</p></small>
</div>
