<div class="row form">
  <%= form_for project do |f| %>


        <%= f.label :name %>
        <%= f.text_field :name, class: 'u-full-width', placeholder: "Enter Project Title" %>


        <%= f.label :public, class: 'checkbox' do %>
        <%= f.check_box :public %><span class="label-body"> Public Topic </span>
        <% end %>

        <%= f.label :status %>
        <%= f.select(:status, options_for_select([['Ideation', 'Ideation'], ['Research', 'Research'], ['Prototyping', 'Prototyping'], ['Completed', 'Completed']], 4)) %>



        <%= f.submit "Save" %>


<% end %>
</div>


    