<div class="row form project-border">
  <%= form_for project do |f| %>
<h5><span class="typcn typcn-plus-outline"></span> New Project</h5>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'u-full-width', placeholder: "Enter Project Title" %>


        <%= f.label :public, class: 'checkbox' do %>
        <%= f.check_box :public %><span class="label-body"> Public Project </span>
        <% end %>

        <%= f.label :status %>
        <%= f.select(:status, options_for_select([['Ideation', 'Ideation'], ['Research', 'Research'], ['Prototyping', 'Prototyping'], ['Completed', 'Completed']], 4)) %>

        <p><%= f.submit "Save" %></p>


<% end %>
</div>


    