 <%= form_for project do |f| %>





        <%= f.label :name %>
        <%= f.text_field :name,  placeholder: "Enter Project Title" %>


        <%= f.label :public, class: 'checkbox' do %>
        <%= f.check_box :public %> Public Topic 

  <% end %>

  <div class="form-group">
        <%= f.submit "Save" %>
</div>

<% end %>
    