<div class="row">
<h5>New Project</h5>
  <%= form_for project do |f| %>


        <%= f.label :name %>
        <%= f.text_field :name, class: 'u-full-width', placeholder: "Enter Project Title" %>


        <%= f.label :public, class: 'checkbox' do %>
        <%= f.check_box :public %><span class="label-body"> Public Topic </span>
        <% end %>

        <%= f.label :status %>
        <%= select_tag(:status, options_for_select([['Ideation', 1], ['Research', 2], ['Prototyping', 3], ['Completed', 4]], 4)) %>



        <%= f.submit "Save" %>


<% end %>
</div>


    