<% provide(:title, "Projects") %>


<section>
        <div class="tabs tabs-style-line">
          <nav>
            <ul>
              <li><a href="#section-line-1"><span>Projects</span></a></li>
              <li><a href="#section-line-2"><span>Add To Satchel</span></a></li>
            </ul>
          </nav>

          <div class="content-wrap">

            <section id="section-line-1">


                  <table class="u-full-width">

                    <thead>
                      <tr>
                        <th>PROJECT TITLE</th>
                        <th>DATE CREATED</th>
                        <th>STATUS</th>
                      </tr>
                    </thead>

                    <tbody>
                  <% @projects.each do |project| %>
                      <tr>
                        <td><%= link_to project.name, project %></td>
                        <td><%= project.created_at.strftime("%d.%m.%Y") %></td>
                        <td><%= project.status %></td>
                      </tr>
                  <% end %>
                    </tbody>
                  </table>

                  




</section>

       


             <section id="section-line-2">
            <br />
<% if policy(@project).create? %>
            
            <%= render partial: 'form', locals: { project: @project } %>

            <%= render partial: 'texts/form', locals: { text: @text } %>

            <%= render partial: 'image_posts/form', locals: { image_post: @image_post } %>

            <%= render partial: 'videos/form', locals: { video: @video } %>
<% else %>
  <p>Please Sign Up / Sign In to put together your own magic satchel.</p>
<% end %>
          </section>


          </div><!-- /content -->
        </div><!-- /tabs -->
      </section>








<script>
      (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });

      })();
  </script>