<% provide(:title, "Texts") %>

<h1>Words</h1>
<div class="row centre">

<% @texts.each do |text| %>

<h2><%= text.title %></h2>
<p>"<%= text.body %>"</p>
<small>
Source: <%= text.source %><br />
Project: <%= text.project.name %></small>

<% end %>


</div>

<div class="row">
<h1>New</h1>

<%= render partial: 'form', locals: { text: @text } %>
</div>

