<% provide(:title, "Texts") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<h1>Words</h1>


  <% @texts.each do |text| %>

<h2><%= text.title %></h2>
<p>"<%= text.body %>"</p>
<small>
Source: <%= text.source %><br />
Project: <%= text.project.name %></small>

<% end %>


<h1>+</h1>

<%= render partial: 'form', locals: { text: @text } %>


</body>
</html>