<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Magic Satchel — <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>
<div class="container">

<div class="row signin">
  <div class="u-pull-left">
       <% if current_user %>
       <%= link_to  edit_user_registration_path do %>
   <span class="typcn typcn-user-outline"></span>
   <% end %>
       <%= link_to  destroy_user_session_path, method: :delete do %>
   <span class="typcn typcn-times-outline"></span>
   <% end %>
<% else %>
        <%= link_to "Sign in", new_user_session_path %> or
        <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>

<div class="flash">
    <% if flash[:notice] %>
      
     <div class="alert flash" data-dismiss="alert"> — <%= flash[:notice] %></div>
        
    <% elsif flash[:error] %> 

    <div class="alert flash" data-dismiss="alert"> — <%= flash[:error] %></div>

    <% elsif flash[:alert] %>

    <div class="alert flash" data-dismiss="alert"> — <%= flash[:alert] %></div>

    <% end %>
</div>

</div>



   <div class="u-pull-right">
    <%= link_to  root_path do %>
   <span class="typcn typcn-home-outline"></span>
   <% end %>

   <%= link_to  pages_about_path do %>
   <span class="typcn typcn-info-outline"></span>
   <% end %>

   <% if current_user %>

   <%= link_to texts_path do %>
   <span class="typcn typcn-pencil"></span>
   <% end %>

    <%= link_to image_posts_path do %>
   <span class="typcn typcn-camera"></span>
   <% end %>

    <%= link_to videos_path do %>
   <span class="typcn typcn-video-outline"></span>
   <% end %>

   <% end %>
 </div>

</div>

    
<div class="row">
  <%= yield %>
</div>


</div>
</body>
</html>
